.container {
  width: 100vw;
  height: 100%;
}

.top {
  width: 100%;
  height: 100%;
  display: flex;
}

.top .left {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.top .left .title {
  color: var(--green);
  font-size: 4rem;
  margin-left: 5rem;
  width: 100%;
}

.top .left .body {
  width: calc(100% - 5rem);
  font-size: 2rem;
  margin-top: 1rem;
}
.top .left .btn_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 5rem;
}

.top .left .btn_container .btn {
  width: 350px;
  height: 3rem;
  background-color: var(--green);
  border: none;
  color: black;
  border-radius: 0.25rem;
  font-size: 1.5rem;
  margin-left: 2.5rem;
  cursor: pointer;
}

.top .right {
  width: 50%;
  height: 100%;
}

.top .right .image {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top .right .image img {
  height: 80%;
  margin-left: 5rem;
}

/*--------------------------*/

.bottom {
  width: 100%;
  height: fit-content;
  padding-bottom: 2rem;
  min-height: 100%;
}

.bottom > .title {
  font-size: 3rem;
  width: 100%;
  text-align: center;
  color: var(--green);
  margin-top: 2rem;
}

.bottom .list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-top: 3.5rem;
  gap: 1.5rem;
}

.bottom .list .entry {
  display: flex;
  gap: 1rem;
  width: 40%;
}

.bottom .list .entry .title {
  font-size: 1.5rem;
}

.bottom .list .entry .subtitle {
  font-size: 1.25rem;
}

.bottom .list .entry img {
  width: 50px;
  height: 50px;
}
